TELEGRAM_BOT_TOKEN=
# Para usar o Local Server, descomente e defina a URL base
# TELEGRAM_API_SERVER=http://localhost:8081

# Whitelist de IDs separados por vírgula (usuários ou grupos)
ALLOWED_USER_IDS=
ALLOWED_CHAT_IDS=

DOWNLOAD_DIR=./media
DOWNLOAD_WORKERS=2
MAX_RETRIES=5
DEFAULT_FOLDER=outros
LOG_LEVEL=INFO
